//This file you will create your rule of typographys inside of the project

@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Dongle-Regular.ttf);
  }
  @font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Dongle-Light.ttf);
  }